@font-face {
    font-family: "Ramche";
    src: url("../assets/font/Ramche.ttf");
}

* {
    margin: 0;
    padding: 0;
}

.App {
    width: 60vw;
    height: 1000px;
    margin: 50px auto;
    font-family: "Ramche";
    font-weight: 400;
    font-size: 1.5rem;
    background: rgba(128, 0, 128, 0.3) url(../assets/img/theventi.png) no-repeat center center;
    background-size: cover;

    p{
        padding: 5px;
    }

    .whm {
        text-align: center;
        padding: 50px 0;
    }

    .showrank{
        float: right;
        border: 0;
        outline: 0;
        color: white;
        background: rgba(128, 0, 128, 0.8);
        border: 1px solid rgba(66, 0, 66, 0.8);
        padding: 5px;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .rank {
        display: flex;
        text-align: center;
        width: 100%;
        height: 200px;
        background: rgba(0, 0, 0, 0.5);
        > .inner {
            flex-basis: 33.333%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            .text{
                color: #fff;
            }
            .platform {
                width: 100%;
                background: #111;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                border: 1px solid #fff;
            }
            &:nth-child(1) {
                .platform {
                    height: 80px;
                }
            }
            &:nth-child(2) {
                .platform {
                    height: 120px;
                }
            }
            &:nth-child(3) {
                .platform {
                    height: 60px;
                }
            }
        }
    }

    .main {
        background: rgba(0, 0, 0, 0.5);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 50px;
        text-align: center;
        color: #fff;
        text-shadow: 3px 3px #111;
        padding: 50px 0;

        h1 {
            padding: 15px;
            &.name {
                padding-bottom: 10px;
            }
        }

        input,
        button {
            border: none;
            outline: none;
        }
        input {
            display: block;
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(128, 0, 128, 0.8);
            width: 160px;
            height: 30px;
            border: 1px solid rgba(66, 0, 66, 0.8);
            color: #fff;
            &::placeholder {
                color: #fff;
                padding-left: 10px;
            }
        }

        button{
            width: 160px;
            padding: 5px;
        }
    }
}
